body {
    margin: 5%;
}

body>* {
    margin: 20px 0px;
}

.card {
    background-color: white;
    border: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 7px 7px 10px 3px darkgrey;
}

.card>div.left,
.card>div.right {
    width: 100%;
    width: 45%;
    display: inline-block;
}

.card>div {
    vertical-align: middle;
}

.new {
    text-align: justify;
    text-justify: inter-word;
    padding: 5%;
}