ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: grey;
  }

 .active {
      background-color: lightgray;
  }
  
  body {
      margin: 0;
      height: 0;
  }

  #container {
    margin-top: 75px;
    margin-left: 18px;
    text-align: center;
  }

  #fb {
    height: 50px;
    width: 50px;
  }

  #tt {
    height: 50px;
    width: 50px;
  }

  #twitch {
    height: 50px;
    width: 50px;
  }
